autotools/
Makefile.in
Makefile
INSTALL
.deps
aclocal.m4
autom4te.cache
configure
configure.cache
config.log
config.status
config.h.in
config.h
stamp-h1
*.tar
*.tar.gz
*.tar.bz2
*.zip
*.o
*.a
*~
# build dirs:
cross-*
native
# NCC
*.nccout
.tmp.c
# gettext
ABOUT-NLS
# gnulib
gnulib/po
gnulib/lib
# emacs
TAGS
# gprof
gmon.out
# Eclipse
.project
.cproject
.settings/
.autotools
